.modal {
    position: fixed;
    left: 50%;
    top: 100px;
    z-index: 999;

    .modal-mask {
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        left: 0;
        top: 0;
    }

    .modal-close {
        position: absolute;
        bottom: -2.6rem;
        left: 50%;
        margin-left: -1rem;
        cursor: pointer;
        width: 1.6rem;
        height: 1.6rem;
        color: #fff;
        background: #00c5d2;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .modal-body {
        position: relative;
        width: 100%;
        height: 100%;
        color: #fff;
        background: linear-gradient(#00c5d2, #aaf5b8);
        border-radius: 0.8rem;
        padding: 0.8rem;
        overflow: auto;
    }
}
