:root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;

    color: #fff;
    background: linear-gradient(#00c5d2, #aaf5b8);
}

* {
    box-sizing: border-box;
}

a {
    font-weight: 500;
    color: inherit;
    text-decoration: inherit;
}

a:hover {
    color: inherit;
}

body {
    margin: 0;
}

button {
    border-radius: 0.2rem;
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    font-family: inherit;
    height: 2rem;
    line-height: 1rem;
    color: #00c5d2;
    background-color: #fff;
    border: none;
    cursor: pointer;
    user-select: none;
    width: 100%;
}

button:disabled {
    color: #aaa;
    cursor: default;
}
