@import "variable.scss";

:root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;

    color: $globe-font-color;
    background: $globe-background;
}

* {
    box-sizing: border-box;
}

a {
    font-weight: 500;
    color: inherit;
    text-decoration: inherit;
}

a:hover {
    color: inherit;
}

body {
    margin: 0;
}

button {
    border-radius: 0.1rem;
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    font-family: inherit;
    height: 2rem;
    line-height: 1rem;
    color: $globe-color-1;
    background-color: rgb(255, 255, 255, 0.8);
    border: none;
    cursor: pointer;
    user-select: none;
    width: 100%;
}

button:disabled {
    color: $globe-disable-color;
    cursor: default;
}
