$white: #ffffff;
$lightgrey: #aaaaaa;
$blue: #50b5dd;
$green: #b2f2c4;

$globe-disable-color: $lightgrey;
$globe-font-color: $white;
$globe-color-1: $blue;
$globe-color-2: $green;

$globe-background: var(--globe-background, linear-gradient($globe-color-1, $globe-color-2));
