.rule-setting {
    margin: 1rem 0 0.5rem;

    .rule-item {
        display: flex;
        align-items: flex-start;

        & + .rule-item {
            margin-top: 0.8rem;
        }

        .rule-item-info {
            margin-left: 1rem;

            .rule-item-title {
                font-weight: bold;
            }

            .rule-item-desc {
                font-size: 0.8rem;
                line-height: 1.4rem;
                margin-top: 0.4rem;
                color: #aaa;
            }
        }
    }
}

.board-setting {
    display: flex;

    .board-item {
        display: flex;
        align-items: flex-start;

        & + .board-item {
            margin-left: 1.3rem;
        }

        .board-item-info {
            margin-left: 1rem;

            .board-item-title {
                font-weight: bold;
            }

            .board-item-desc {
                font-size: 0.8rem;
                line-height: 1.4rem;
                margin-top: 0.3rem;
                color: #aaa;
            }
        }
    }
}
